<nav>
    <div class="site-title">
        <a href="/"> <h1>Portfolio</h1></a>
        <p>Hafiz AR Iqbal</p>
    </div>
    <ul>
        <li><a href="/">Projects</a></li>
        <li></li><a href="/about">About</a></li>
        <li></li><a href="/projects/create">Add New Project</a></li>
    </ul>
</nav>