<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-me">
        <h2>About Us</h2>
        <img src="/AR_Pic.png" alt="Prfile Picture" width="200" height="200" align="right">
        <p>
            I am a passionate and results-driven professional in development, with a strong foundation in programming. My journey has been 
            immersed in the world of Unity 3D game development, where I've honed my skills through diverse projects, specializing in crafting 
            immersive simulations. A quick learner and hardworking individual, I've extended my expertise to web development, excelling in 
            Django projects that involve intricate database operations. Currently expanding my horizons with JavaScript, I'm driven to carve 
            a niche in the IT field, leveraging my creativity, adaptability, and coding prowess. Excited to contribute meaningfully to 
            innovative projects at the intersection of technology and development.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>