<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="projects content">
        <h2>About Us</h2>
        <p>Mustakbil.com is a leading jobs site of Pakistan with over 23,000 employers and more than 1 million active and engaged web users.</p>
        <p>Mustakbil.com is a leading jobs site of Pakistan with over 23,000 employers and more than 1 million active and engaged web users.</p>
        <p>Mustakbil.com is a leading jobs site of Pakistan with over 23,000 employers and more than 1 million active and engaged web users.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>