<html lang="en">
    
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="add-project content">
        <form action="/projects" method="post">
        <label for="title">Project Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="descr">Project Description:</label>
        <textarea type="text" id="descr" name="description" required></textarea>
        <!-- id="snippet" -->

        <label >Project URL:</label>
        <input type="url" id="project_url" name="project_url" required>

        <label type="string">Git Repository:</label>
        <input type="url id="gitRepository" name="gitRepository" required>
        
        <button type="submit">Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>