<html lang="en">
    
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="create-blog content">
        <form>
        <label for="title">Project Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="descr">Project Description:</label>
        <textarea type="text" id="descr" name="descr" required></textarea>
        <!-- id="snippet" -->

        <label type="url">Project URL:</label>
        <input id="url" name="url" required>

        <label type="url">Git Repository URL:</label>
        <input id="url" name="url" required>
        
        <button>Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>